name: Actualizar publicaciones

on:
  schedule:
    - cron: "0,30 12-23 * * *"
    - cron: "0,30 0-2 * * *"
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Descargar repo
        uses: actions/checkout@v4

      - name: Instalar Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Instalar dependencias
        run: |
          pip install playwright
          playwright install chromium

      - name: Ejecutar bot
        env:
          USUARIO: ${{ secrets.USUARIO }}
          PASSWORD: ${{ secrets.PASSWORD }}
        run: python bot.py
